html,
body {
  margin                   : 0;
  padding                  : 0;
  width                    : 100%;
  height                   : 100%;
  font-size                : 100%;
  -webkit-text-size-adjust : 100%;
  -moz-text-size-adjust    : 100%;
  -ms-text-size-adjust     : 100%;
  overflow                 : auto;
}

body * {
  outline : none;
}

.configurable-application--loading {
  text-align : center;
  display    : block;
  height     : 100%;
  width      : 100%;
  overflow   : hidden;
  background : #fff url(../assets/loader-ie9.gif) no-repeat center center;
}

.configurable-application__view-container {
  margin     : 0;
  padding    : 0;
  height     : calc(100vh - 250px) !important;
  box-shadow : 0 1px 2px rgba(0, 0, 0, 0.3);
}

#main-container {
  width          : 100%;
  height         : 100%;
  margin         : 0;
  padding        : 0;
  display        : flex;
  flex-direction : column;
}

#view-containers {
  order          : 1;
  flex-grow      : 1;
  display        : flex;
  flex-direction : row;
}

#map-container,
#scene-container {
  flex-grow : 1;
}

#stats-container {
  height         : 140px;
  margin         : 0;
  order          : 0;
  flex-shrink    : 0;
  flex-grow      : 0;
  display        : flex;
  flex-direction : row;
}

.stat-panel {
  flex-grow : 1;
}

#time-container {
  padding   : 0;
  margin    : 0;
  flex-grow : 0;
  height    : max-content;
}

#content-container {
  flex-grow      : 1;
  display        : flex;
  flex-direction : row;
}

.esri-layer-list__item-actions-menu-item:hover,
.esri-layer-list__item-actions-menu-item--active,
.esri-layer-list__item-actions-menu-item--active:hover {
  color            : #0079c1 !important;
  background-color : transparent !important;
}

.view-loading-node {
  box-shadow : none !important;
}

.view-loading-node .loader-text {
  color       : #0079c1;
  text-shadow : 0 1px 2px #fff;
  padding-top : 3em !important;
}


